body {
    font-family: 'Montserrat', sans-serif;
}
header {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav-link:not(.link-ativo) {
    background-color: aliceblue;
}
.nav-link:hover:not(.link-ativo) {
    border-bottom: 1px solid gray;
}
.link-ativo {
    border-top: 4px solid ;
}

.titulo {
    border-bottom: .5cd prrem solid;
    display: inline;
    padding-right: 3rem;
    margin-top: 2rem;
}

.texto {
    margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
    .nav-link:not(.link-ativo) {
        background-color: unset;
    }
    .navegacao {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: saturate(180%) blur(10px);
        box-shadow: 10rem 0 0 rgba(0, 0, 0, 0.5);
        position: fixed;
        top: var(--altura-cabecalho);
        width: 80vw;
        height: 100vh;
        transition: .5s;
    
        z-index: 5;
    }
    
    .navegacao-oculta {
        box-shadow: none;
        transform: translateX(-100%);
    
        transition: .5s;
    }
    
}