body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    align-content: center;
    display: flex;
    height: 100%;
}
.nav a:hover {
    border-bottom: .25rem solid gray;
    transition: .2s;
}

.cabecalho {
    border-bottom: 1px solid;
}

.selecionado {
    border-bottom: .25rem solid;
}

.titulo {
    border-bottom: .2rem solid;
    margin-top: 2rem;
    width: 50%;
}

.texto {
    margin-top: 1.5rem;
}

@media screen and (max-width: 767px) {
    .cabecalho {

    }
    .navegacao {
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: saturate(180%) blur(10px);
        box-shadow: 10rem 0 0 rgba(0, 0, 0, 0.5);
        position: fixed;
        top: var(--altura-cabecalho);
        width: 80vw;
        height: 100vh;
        transition: .5s;
    
        z-index: 5;
    }
    
    .navegacao-oculta {
        box-shadow: none;
        transform: translateX(-100%);
    
        transition: .5s;
    }
    
}